/SpaceInvaders/.vs
/SpaceInvaders/debug
/SpaceInvaders/release
/SpaceInvaders/SpaceInvaders.sln
/SpaceInvaders/SpaceInvaders.vcxproj
/SpaceInvaders/SpaceInvaders.vcxproj.filter
/SpaceInvaders/SpaceInvaders.vcxproj.user
